
.margin-bottom-slide{
    margin-bottom: 15% !important;
}
.display-flex{
    display: flex !important;
    flex-direction: row;
}

.fa-brands{
    font-size: 30px;
}
.rounded{
    padding: 0 !important;
}
.card{
    padding-left: 0;
    padding-right: 0;
}
.margin-y{
    margin: 100px auto !important;
}
.accordion-button{
    font-weight: 700 !important;

}