.dark{
    background-color: rgb(72, 63, 63);
}
.margin-bottom-slide{
    margin-bottom: 15% !important;
}
.display-flex{
    display: flex !important;
    flex-direction: row;
}
.card{
    display: flex;
}
.fa-brands{
    font-size: 30px;
}
.rounded{
    padding: 0 !important;
}
.card{
    padding-left: 0;
    padding-right: 0;
}